body {
  margin: 0;
  font-family: 'DM Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: linear-gradient(
    to right top,
    #ffffff,
    #fcfcff,
    #f9f9ff,
    #f5f7ff,
    #f0f4ff,
    #e9f0ff,
    #e2ebfe,
    #dae7fe,
    #cfdffd,
    #c3d7fc,
    #b8cffa,
    #adc7f9
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'DM Sans';
  src: local('DMSans-Bold'),
    url('./assets/fonts/primary/DMSans-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'DM Sans';
  src: local('DMSans-Medium'),
    url('./assets/fonts/primary/DMSans-Medium.ttf') format('truetype');
  font-weight: normal;
}
