body {
  margin: 0;
  font-family: 'DM Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #68aadc,
    #5fa3dd,
    #579cde,
    #5295df,
    #508ddf,
    #4e88df,
    #4c83de,
    #4c7edd,
    #487bdc,
    #4377db,
    #3f74d9,
    #3a70d8
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'DM Sans';
  src: local('DMSans-Bold'),
    url('./assets/fonts/primary/DMSans-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'DM Sans';
  src: local('DMSans-Medium'),
    url('./assets/fonts/primary/DMSans-Medium.ttf') format('truetype');
  font-weight: normal;
}
